*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{max-width: 1920px;
    width: 100%;
    height: 2550px;
  padding-bottom: 64px;

}

#main_div{
    background-color: blue;
    max-width: 1400px;
    text-align: center;
    margin-top: 60px;
    margin-left: 60px;
    width: 100%;
    height: 2208px;
    padding: 96px;
    background: #FFAEAF;
}

#main_box{
    height: 2016px;
    width: 1200px;
    background: #FFF;

}

#our_p{
    padding-top: 96px;
    color: #ED00A6;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-bottom: 12px;
}

#title_p{
    color: #181D27;
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 14px;
    text-align: center;
}

#header_paragr{
    color: #535862;
    text-align: center;
    font-size: 20px;
    padding-bottom: 96px;
}

#foto_people{
    display: block;
    padding-bottom: 96px;
    padding-left: 66px;

}

#foto_comp{
 margin-left: 530px;
    display: block;
    padding-bottom: 96px;
}

#img_eeeh{
    display: block;
    padding-left: 66px;
}